@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Open+Sans:wght@300&display=swap');
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

* {
    margin: 0
}
body{
    overflow: hidden;
}


header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    border: 5px solid transparent;
    border-image: linear-gradient(to top left, #b827fc 0%, #2c90fc 25%, #fd1892 50%, #fec837 75%,#b8fd33  100%);
    border-image-slice: 1;
   
}

header #bussimg{
    margin-left: -8rem;
    display: flex;
    justify-content: space-around;
    width: 300px;
}

header img{
    width: 50px;
    height: 50px;
    margin: 0;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

header h1{
    margin-left: -20%;
    font-family: 'Frijole', cursive;
    text-shadow: 2px 2px 4px #000000;
    -webkit-animation: rainbow 5s infinite;
    cursor: default;
}

@keyframes rainbow{
    0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

header h2{
    font-family: 'Frijole', cursive;
    cursor: pointer;
    color: white;

}

header h2:hover{
    transition: 1s;
    text-shadow: 2px 2px 4px #000000;
    -webkit-animation: rainbow 5s infinite;
}

a{
    color: black;
    text-decoration: none;
}

main{
    background-color: black;
    height: 77.6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#container{
    width: 78.8vw;
    height: 77.7vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
    
}

#container::-webkit-scrollbar {
    width:10px;
    height: 10px;
}
     
    #container::-webkit-scrollbar-track {
    background:#333;
}
     
    #container::-webkit-scrollbar-thumb {
    background: linear-gradient(to top left, #b827fc 0%, #2c90fc 25%, #fd1892 50%, #fec837 75%,#b8fd33  100%);
}

.ua{
    margin-top: 10px;
    background-color: white;
    height: 400px;
    width: 300px;
    margin: 7px 7px 7px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Frijole', cursive;
    font-size: small;
}
.ua img{
    width: 12rem;
    height: 12rem;
}
.ua button{
    height: 2rem;
    width: 8rem;
    background-color: black;
    color: white;
    font-family: 'Frijole', cursive;
    font-size: smaller;
    cursor: pointer;
}
section{
    position: fixed;
    width: 19.9rem;
    height: 39rem;
    background-color: rgb(39, 36, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white; 
    box-shadow:inset 0px 1px 10px 6px rgb(0, 0, 0);
}

section div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -5rem;
}
section h1{
    font-family: 'Frijole', cursive;
}
section div h4{
    display: flex;
    width: 17rem;
    height: 2rem;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: thin;
    font-family: 'Frijole', cursive;
    margin-bottom: 0.2rem;
}
section div h4:hover{
    border-image: linear-gradient(to top left, #b827fc 0%, #2c90fc 25%, #fd1892 50%, #fec837 75%,#b8fd33  100%);
    border-image-slice: 1; 
    background-color: #3b3838; 
    cursor: pointer;
}

.form{
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.form input{
    border-style: solid;
    background-color: black;
    color: white;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form button{
    margin-top: 1rem;
    width: 6rem;
    height: 2rem;
    cursor: pointer;
    border-style: solid;
    border-image: linear-gradient(to top left, #b827fc 0%, #2c90fc 25%, #fd1892 50%, #fec837 75%,#b8fd33  100%);
    border-image-slice: 1; 
    background-color: black;
    color: white;
    font-family: 'Frijole', cursive;
}

#sendtoadd{
    color: white;
    text-decoration: none;
    font-family: 'Frijole', cursive;
    font-size: 10px;
}
#sendtoadd:hover{
    transition: 1s;
    text-shadow: 2px 2px 4px #000000;
    -webkit-animation: rainbow 5s infinite;
}

section div label{
    font-family: 'Frijole', cursive;
}

footer{
    background-color: black;
    height: 5rem;
    border: 5px solid transparent;
    border-image: linear-gradient(to top left, #b827fc 0%, #2c90fc 25%, #fd1892 50%, #fec837 75%,#b8fd33  100%);
    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

}

body form{
    background-color:rgb(0, 0, 0, 0.7);
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    margin: auto;

}

#formlog{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Frijole', cursive;
    font-size: larger;
    

}

#formlog input{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Frijole', cursive;
    width: 30%;
    height: 20px;
}

#confirmreg{
    margin-top: 1rem;
    width: 6rem;
    height: 2rem;
    cursor: pointer;
    border-style: solid;
    border-image: linear-gradient(to top left, #b827fc 0%, #2c90fc 25%, #fd1892 50%, #fec837 75%,#b8fd33  100%);
    border-image-slice: 1; 
    background-color: black;
    color: white;
    font-family: 'Frijole', cursive;
}