<!DOCTYPE html>
<html>
    <!--colors
    #0e0108
    #30102f
    #4d4351
    #35051e
    #600904-->
<head>
    <title>Menucool Css Menu</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald" />
    <link href="/frontend/styles/style3.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div id="bussimg"><img src="/frontend/images/controller.png"><h1>GGWP</h1></div>
        <a href="/frontend/templates/index.html"><div><h2>HOME</h2></div></a>
        <a href="/frontend/templates/index2.html"><div><h2>SHOPPING CART</h2></div></a>
        <div><h2>USER</h2></div>
        
       <!--<a href="#hltgs"><h2>Highlights</h2></a>--> 
    </header>
    <main> 
        <div id="container">
            <div id="approved">
                <img src="/frontend/images/approved.png">
                <h1>Order successfully placed!</h1>
                <p id="val">Name: Gabi Mozinastre<br>State: California<br>City: Santa Barbara<br>Street: St. Sant Avouir,122<br>Zip Code: 45125-121<br>
                <br>Order Value: $ </p>

                <p id="deadline">Code order: 3562313135131<br>Deadline: </p>
            </div>
        </div>
    </main>
    <footer>
        Copyright © 2021-2xxx GGWP.com LTDA <br>
        CNPJ n.º 03.333.333/0003-33 / Av. Ines Aparecida, nº 3.333, Center, Munique/SP - Zip Code: 03333-333 - Group Company: Good Game Well Played.<br>
        2021
    </footer>
    <script type="module"  src="/frontend/scripts/script3.js"></script>
</body>
</html>