<!DOCTYPE html>
<html>
    <!--colors
    #0e0108
    #30102f
    #4d4351
    #35051e
    #600904-->
<head>
    <title>Menucool Css Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald" />
    <link href="/frontend/styles/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img src="/frontend/images/controller.png">
        <h1>GGWP</h1>
        <h2>HOME</h2>
        <h2>SHOPPING CART</h2>
        <h2>USER</h2>
       <!--<a href="#hltgs"><h2>Highlights</h2></a>--> 
    </header>

 
</div>
</body>
</html>