<!DOCTYPE html>
<html>
    <!--colors
    #0e0108
    #30102f
    #4d4351
    #35051e
    #600904-->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Menucool Css Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static',filename='styles/style2.css')}}" rel="stylesheet" />
</head>
<body>
    <header>
        <div id="bussimg"><img src="/static/images/controller.png"><h1>GGWP</h1></div>
        <a href="/home"><div><h2>HOME</h2></div></a>
        <div><h2>SHOPPING CART</h2></div>
        <div><h2>USER</h2></div>
        
       <!--<a href="#hltgs"><h2>Highlights</h2></a>--> 
    </header>
    <section>
        {% for infouser in infosuser %}
        <img src="{{ url_for('static',filename='uploads/' + infouser['imagem'])}}">
        <div id="address-infos">
            
            <h5>Name: <h5 id="username">{{infouser['nome']}}</h5></h5>
            <h5>Street: <h5 id="userstreet">{{infouser['rua']}}</h5></h5>
            <h5>City: <h5 id="usercity">{{infouser['cidade']}}</h5></h5>
            <h5>State: <h5 id="userstate">{{infouser['estado']}}</h5></h5>
            <h5>Zip Code: <h5 id="userzip">{{infouser['zipcode']}}</h5></h5>
            {% endfor %}
        </div>
        <button>
            <a href="/paymentconfirmed"> Confirm Order</a>
        </button>
    </section>
    <main> 
        <div id="container">
            <ul id="coluna">
               <!-- <li>
                    <img src="/static/images/controller.png"> 
                    <div class="infomations"> Aaaassssss</div>
                    <h3>Price: $1002,98</h3>
                </li>-->
            </ul>
            
            
        </div>
    </main>
    <footer>
        Copyright © 2021-2xxx GGWP.com LTDA <br>
        CNPJ n.º 03.333.333/0003-33 / Av. Ines Aparecida, nº 3.333, Center, Munique/SP - Zip Code: 03333-333 - Group Company: Good Game Well Played.<br>
        2021
    </footer>
    <script type="module"  src="{{ url_for('static',filename='scripts/script2.js')}}"></script>
</div>
</body>
</html>