<!DOCTYPE html>
<html>
    <!--colors
    #0e0108
    #30102f
    #4d4351
    #35051e
    #600904-->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Menucool Css Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css')}}"  />
</head>
<body>
    <header>
        <div id="bussimg"><img src="/static/images/controller.png"><h1>GGWP</h1></div>
        <div><h2>HOME</h2></div>
        <a href="/bag"><div><h2>SHOPPING CART</h2></div></a>
        <div id="log"><h2>USER</h2></div>
    </header>
    <section>
        <h1>Categories:</h1>
        <div>
            <h4 id="filter1" onclick="filter('keyboard')">Keyboard</h4>
            <h4 id="filter2" onclick="filter('headset')">Headset</h4>
            <h4 id="filter3" onclick="filter('mouse')">Mouse</h4>
            <h4 id="filter4" onclick="filter('chair')">Chair</h4>
            <h4 id="filter5" onclick="filter('cabinet')">Cabinet</h4>
        </div>
        <a id ="sendtoadd" href="/addprod"><div><h2>Click Here To Add Product</h2></div></a>
        <!--<h1 id="sumir">Add Product:</h1>
        <form class="form" method="POST" action="http://localhost:5000/home" enctype='multipart/form-data'>
            <input type="hidden" name="form2" value="form2name">
            <label>Product Name:<input type="text" id="prodname" name="prodname"></label>
            <label>Product Price:<input type="number" id="prodprice" name="prodprice"></label>
            <label>Product Category:<input type="text" id="prodcat" name="prodcat"> </label>
            <label>Product Image:<input type="file" id="prodimg" name="prodimg"></label>
            <button onclick="add()" type="submit" id="form2-submit" name="form2-submit">ADD</button>
        </form>!-->
    </section>
    <main> 
        <div id="container">
            
            {% for info in infos %}
        
                <div class="ua">
                    <img src="{{ url_for('static',filename='uploads/' + info['imagem'])}}">
                    <h2>{{info['nome']}}</h2>
                    <h4>{{info['categoria']}}</h4>
                    <h1>$ {{info['preco']}}</h1>
                    <button>Add to cart</button>
                </div>
            {% endfor %}
        <!--
            static example
            <div class="ua">
                <img src="/frontend/images/controller.png">
                <h2>Aaaaaaaa Bbbbbb</h2>
                <h4>Nnnnnn Mmmmmm</h4>
                <h1>$ 1.434,00</h1>
                <button>Add to cart</button>
            </div>
        -->        
        </div>
    </main>
    <footer>
        Copyright © 2021-2xxx GGWP.com LTDA <br>
        CNPJ n.º 03.333.333/0003-33 / Av. Ines Aparecida, nº 3.333, Center, Munique/SP - Zip Code: 03333-333 - Group Company: Good Game Well Played.<br>
        2021
    </footer>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/script.js')}}"></script>
</div>
</body>
</html>