@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Open+Sans:wght@300&display=swap');
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

* {
    margin: 0
}
body{
    overflow: hidden;
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    border: 5px solid transparent;
    border-image: linear-gradient(to top left, #b827fc 0%, #2c90fc 25%, #fd1892 50%, #fec837 75%,#b8fd33  100%);
    border-image-slice: 1;
   
}

header #bussimg{
    margin-left: -8rem;
    display: flex;
    justify-content: space-around;
    width: 300px;
}

header img{
    width: 50px;
    height: 50px;
    margin: 0;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

header h1{
    margin-left: -20%;
    font-family: 'Frijole', cursive;
    text-shadow: 2px 2px 4px #000000;
    -webkit-animation: rainbow 5s infinite;
    cursor: default;
}

@keyframes rainbow{
    0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

header h2{
    font-family: 'Frijole', cursive;
    cursor: pointer;
    color: white;

}

header h2:hover{
    transition: 1s;
    text-shadow: 2px 2px 4px #000000;
    -webkit-animation: rainbow 5s infinite;
}

a{
    color: black;
    text-decoration: none;
}

main{
    background-color: black;
    height: 77.6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#container{
    width: 81vw;
    height: 77.7vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
    
}

#container::-webkit-scrollbar {
    width:10px;
    height: 10px;
}
     
    #container::-webkit-scrollbar-track {
    background:#333;
}
     
    #container::-webkit-scrollbar-thumb {
    background: linear-gradient(to top left, #b827fc 0%, #2c90fc 25%, #fd1892 50%, #fec837 75%,#b8fd33  100%);
}

.ua{
    margin-top: 10px;
    background-color: white;
    height: 400px;
    width: 300px;
    margin: 7px 7px 7px 7px;    
}
section{
    position: fixed;
    margin-top: 5rem;
    width: 15rem;
    height: 30rem;
    background-color: brown;
}

footer{
    background-color: black;
    height: 5rem;
    border: 5px solid transparent;
    border-image: linear-gradient(to top left, #b827fc 0%, #2c90fc 25%, #fd1892 50%, #fec837 75%,#b8fd33  100%);
    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

}

