@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Open+Sans:wght@300&display=swap');
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

* {
    margin: 0
}

header{
    background-color: #4d4351;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

header #bussimg{
    margin-left: -8rem;
    display: flex;
    justify-content: space-around;
    width: 300px;
}

header img{
    width: 50px;
    height: 50px;
    margin: 0;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

header h1{
    margin-left: -20%;
    font-family: 'Frijole', cursive;
}

header h2{
    font-family: 'Frijole', cursive;
}

header h2:hover{
    color: #600904;
    transition: 1s;
}

a{
    color: black;
    text-decoration: none;
}

main{
    background-color: chartreuse;
    height: auto;
    
}
section{
    margin-top: 5rem;
    width: 20rem;
    height: 30rem;
    background-color: brown;
}